@import './reset.scss';
@import './tailwind.scss';
@import './fonts.scss';

.App {
	font-family: 'DM Sans', sans-serif;
	letter-spacing: -1px;

	h1 {
		font-weight: 700;

		@apply text-black text-big sm:text-large text-center sm:text-left;
	}

	h3 {
		font-size: 24px;
		font-weight: 700;

		@apply text-black text-big sm:text-large text-center sm:text-left;
	}

	strong {
		font-size: 24px;
		font-weight: 700;

		@apply text-black text-big sm:text-large text-center sm:text-left;
	}

	p {
		font-weight: 500;

		@apply text-black text-secondary;
	}

	.logo-text {
		font-weight: 700;

		@apply text-black text-big;
	}

	.light-label {
		@apply text-gray-400 text-secondary;
	}

	.label-blue {
		font-weight: 500;

		@apply text-lighterRegularBlue text-secondary;

		&:hover {
			@apply text-regularBlue;
		}
	}

	.regular-label {
		font-weight: 500;

		@apply text-black text-secondary;
	}

	.bold-label {
		font-weight: 700;

		@apply text-black text-secondary;
	}

	.number {
		font-weight: 700;

		@apply text-black text-regular;
	}
}
